h1{
  font-family: Impact;
  text-align: center;
}

body{
  font-family: Impact;
  height: 100%;
  width: 100%;
  text-align: center;
}

.tagh1{

  font-family: Dishonorable Mention;
  font-size: 15px;
  line-height: 70%;
}

.previous{
  text-align: left;
  color: rgb(255, 255, 255);
  font-family: "Dosis", cursive;
  background-color: rgb(255, 0, 64);
}
